{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["error", 2], // 2个空格缩进
    "no-unused-vars": "off",
  },
}
