dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.env.development
.env.production
.env.test

# local env files
.env*.local
